/* CSS styles */
.app-bar {
    background: #000000;
    padding-left: 20px;
    padding-top: 0px;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.main-container {
    padding-left: 8px;
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 100px; /* Adjusted margin-top to account for the fixed header */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #000000; /* Adding a bottom border instead of a box */
    background-color: transparent; /* Making the background transparent */
}

button {
    margin-top: 30px;
    padding: 10px; /* Set padding to make button circular */
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 20px /* Make the button circular */
}